/* Common nav styles */
.navigation-wrapper  {
    height: 100px;
    /* Flexbox container */
    display: flex;
    justify-content: flex-start;
    align-items: left;
    padding: 60px 50px;
}

/* Left column styles */

.navigation-wrapper > .left-column {
    display: flex;
    align-items: center;
}

.navigation-wrapper > .left-column > .logo > img {
    margin-right: 15px;
    height: 190px;
}

/* Center column styles */

.navigation-wrapper > .center-column {
    display: grid;
    grid-template-columns: 1fr;
    width: 80%;
}

.company-name > h1 {
    color: #162c00;
    padding-left: 10px;
    margin: 0;
}

.links-wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.links-wrapper > .nav-link {
    text-align: center;
    width: 100px;
}

.links-wrapper > .nav-link a {
    color: #4a3204;
    font-size: 1.2em;
    text-decoration: none;
    transition: 0.5s;
}

.links-wrapper > .nav-link a:hover {
    color: #c3ab30;
    letter-spacing: 2px;
}

.links-wrapper > #too-tall a:hover {
    letter-spacing: normal;
}

/* Right column styles */

.navigation-wrapper > .right-column {
    width: 210px;
}

.navigation-wrapper > .right-column > .phone h3 {

    color: #162c00;
}
